
<html>
<head>
<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type">
<title>AMGEN Online Application</title>
</head>

<body text="#000000" bgcolor="#ffffff" link="#0088FF" vlink="#0088FF">

    <form action="/submitFirstForm" method="post" name="surfapp">
        <div align="center">
            <center>
                <table width="75%" cellspacing="0" cellpadding="2" border="0">
                    <tbody>
                        <tr>
                            <td bgcolor="#004488" width="100%" align="center"><font
                                size="3" face="Arial" color="#ffffff"><b>Columbia
                                        University<br> Department of Biological Sciences
                                </b></font><font size="4" face="Arial" color="#ffffff"> <br> <b>Amgen
                                        Scholars Summer Research Program 2016 </b></font><b><font
                                    face="Arial" size="4" color="#ffffff"></font></b></td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </div>
        <div align="center">
            <center>
                <table height="330" width="65%" cellspacing="0" cellpadding="2"
                    border="1">
                    <tbody>
                        <tr>
                            <td height="19" bgcolor="#ffffff" colspan="2"></td>
                        </tr>
                        <tr>
                            <td align="center" height="19" bgcolor="#004488" colspan="2"><b><font
                                    face="Arial" color="#ffffff">Online Application</font></b></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font size="3"
                                face="Arial Unicode MS">First Name:</font></td>
                            <td height="22" align="left" width="60%"><font size="3"
                                color="#000000"> <input name="FNAME" value="{{formDict['FirstName']}}"
                                    maxlength="50" size="14" type="text"> <font
                                    face="Arial, Helvetica, sans-serif">Last Name:</font> <input
                                    name="LNAME" size="15" type="text" value="{{formDict['LastName']}}"></font></td>
                        </tr>
                        <tr>
                            <td height="22"><p>
                                    <font face="Arial Unicode MS">Date of Birth:<br> <font
                                        size="2">(mm-dd-yyyy)</font></font>
                                </p></td>
                            <td height="22" align="left"><font face="Arial" size="3"
                                color="#000000"> <input name="DATEOFBIRTH" maxlength="40"
                                    size="40" type="text" value="{{formDict['DOB']}}">
                            </font></td>
                        </tr>
                        <tr>
                            <td height="23" width="40%"><font size="3"
                                face="Arial Unicode MS">Email:</font></td>
                            <td height="23" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"><input name="EMAIL" size="40"
                                    type="text" value="{{formDict['Email']}}"> </font></td>
                        </tr>
                        <tr>
                            <td height="23" width="40%"><p>
                                    <font size="3" face="Arial Unicode MS">Alternative Email
                                        (non .edu):<br /> <font size="2">(Required)</font>
                                    </font>
                                </p></td>
                            <td height="23" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"><input name="ALTERNATIVE_EMAIL"
                                    size="40" type="text" value="{{formDict['AlternativeEmail']}}"> </font></td>
                        </tr>

                        <tr>
                            <td height="22" width="40%"><font size="3"
                                face="Arial Unicode MS"> Phone # :</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"> <input name="PERMANENT_PHONE"
                                    size="40" type="text" value="{{formDict['Phone']}}">
                            </font></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font size="3"
                                face="Arial Unicode MS"> Permanent Street Address 1:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"> <input
                                    name="PERMANENT_ADDRESS1" size="40" type="text" value="{{formDict['PermStreetAdr1']}}">
                            </font></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font size="3"
                                face="Arial Unicode MS"> Permanent Street Address 2
                                    (optional):</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"> <input
                                    name="PERMANENT_ADDRESS2" size="40" type="text" value="{{formDict['PermStreetAdr2']}}">
                            </font></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font face="Arial Unicode MS">Permanent
                                    City:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"><input name="PERMANENT_CITY"
                                    size="40" type="text" value="{{formDict['PermanentCity']}}"> </font></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font face="Arial Unicode MS">Permanent
                                    State:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"><input name="PERMANENT_STATE"
                                    size="40" type="text" value="{{formDict['PermanentState']}}"> </font></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font face="Arial Unicode MS">Permanent
                                    Zip code:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"><input name="PERMANENT_ZIP"
                                    size="40" type="text" value="{{formDict['PermanentZipCode']}}"> </font></td>
                        </tr>







                        <tr>
                            <td height="22" width="40%"><font size="3"
                                face="Arial Unicode MS"> Campus Address 1:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"> <input name="SCHOOL_ADDRESS1"
                                    size="40" type="text" value="{{formDict['CampusAdr1']}}">
                            </font></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font size="3"
                                face="Arial Unicode MS"> Campus Address 2:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"> <input name="SCHOOL_ADDRESS2"
                                    size="40" type="text" value="{{formDict['CampusAdr2']}}">
                            </font></td>
                        </tr>


                        <tr>
                            <td height="22" width="40%"><font face="Arial Unicode MS">Campus
                                    City:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"><input name="CAMPUS_CITY"
                                    size="40" type="text" value="{{formDict['CampusCity']}}"> </font></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font face="Arial Unicode MS">Campus
                                    State:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"><input name="CAMPUS_STATE"
                                    size="40" type="text" value="{{formDict['CampusState']}}"> </font></td>
                        </tr>



                        <tr>
                            <td height="22" width="40%"><font face="Arial Unicode MS">Campus
                                    Zip code:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"><input name="CAMPUS_ZIP"
                                    size="40" type="text" value="{{formDict['CampusZipCode']}}"> </font></td>
                        </tr>






                        <tr>
                            <td height="22" width="40%"><font face="Arial Unicode MS">Home
                                    City:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"> <input name="HOMECITY" size="3"
                                    type="text" value="{{formDict['HomeCity']}}"\>
                            </font>If you graduated high school in the US, which City did you
                                graduate in</td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font face="Arial Unicode MS">Home
                                    State:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"> <input name="HOMESTATE"
                                    size="3" type="text" value="{{formDict['HomeState']}}"\>
                            </font>If you graduated high school in the US, which state did you
                                graduate in</td>
                        </tr>
                    </tbody>
                </table>
                <table width="65%" height="193" border="1" cellpadding="2"
                    cellspacing="0">
                    <tbody>
                        <tr>
                            <td><font size="3" face="Arial, Helvetica, sans-serif">
                                    Gender:</font></td>
                            <td><font size="3" face="Arial, Helvetica, sans-serif">
                                    <select size="1" name="GENDER">
                                        <option value="Male" selected="{{formDict['Gender']=='M'}}">Male</option>
                                        <option value="Female" selected="{{formDict['Gender']=='F'}}">Female</option>
                                </select>
                            </font></td>
                        </tr>
                        <tr>
                            <td><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">
                                        Ethnicity:</font>
                                </p>
                                <p align="left">
                                    <font size="2" face="Arial, Helvetica, sans-serif">(Please
                                        check all that apply) </font>
                                </p></td>
                            <td><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> 
                                        <input
                                        type=radio name ="ethinicity" id="INDIAN" value="American Indian / Alaskan Native" checked="{{formDict['Ethnicity']=='American Indian / Alaskan Native'}}">American Indian / Alaskan Native<BR> 
                                        
                                        <input type=radio name ="ethinicity" id="BLACK" value="African-American / Black" selected="{{formDict['Ethnicity']=='African-American / Black'}}">African-American / Black<BR> 

                                        <input type=radio name="ethinicity" id="PACIFIC" value="Pacific Islander" selected="{{formDict['Ethnicity']=='Pacific Islander'}}">Pacific Islander<BR>

                                         <input type=radio name="ethinicity" id="MEXICAN" value="Mexican American /Chicano / Latino" selected="{{formDict['Ethnicity']=='Mexican American / Chicano / Latino'}}"> Mexican American / Chicano / Latino<BR> 

                                        <input type=radio name="ethinicity" id="ASIAN" value="Asian American" selected="{{formDict['Ethnicity']=='Asian American'}}">Asian American<BR>
                                        
                                        <input type=radio name="ethinicity" id="MIDDLE" value="Middle Eastern" selected="{{formDict['Ethnicity']=='Middle Eastern'}}">
                                        Middle Eastern<BR> 

                                        <input type=radio name="ethinicity" id="WHITE" value="White/Caucasian" selected="{{formDict['Ethnicity']=='White / Caucasian'}}">White / Caucasian<BR>
                                        Other: <input name="other" maxlength="50" size="40"
                                        type="text" value=""> <BR> 

                                        <input type=radio
                                        name="ethinicity" id="decline" value="Decline" selected="{{formDict['Ethnicity']=='Decline to State'}}"> Decline to State
                                    </font>
                                </p></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font size="3"
                                face="Arial, Helvetica, sans-serif">Citizenship Status: <br>
                                    <font size="2">(Please note that non-U.S. citizens and
                                        non-permanent residents are not eligible to apply.) </font></font></td>
                            <td height="22" align="left" width="60%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> <input
                                        type="radio" name="CITIZENSHIP" value="citizen"> U.S.
                                        Citizen<br> <input type="radio" name="CITIZENSHIP"
                                        value="resident"> Permanent Resident, Place of Birth<input
                                        name="PLACEOFBIRTH" maxlength="75" size="25" type="text"
                                        value=""> <br> <input type="radio"
                                        name="CITIZENSHIP" value="other"> Other<br> <br>
                                    </font>
                                </p></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">Parents
                                        Educational Background:</font>
                                </p>
                                <p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">
                                        Mother, Highest Degree Earned:</font>
                                </p>
                                <p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">Father,
                                        Highest Degree Earned: </font>
                                </p></td>
                            <td height="22" align="left" width="60%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"><br>
                                        <br> <select size="1" name="MOTHERDEGREE">
                                            <option value="N/A" selected="{{formDict['MotherDegree']=='N/A'}}">N/A</option>
                                            <option value="No High School Degree" selected="{{formDict['MotherDegree']=='No High School Degree'}}">No High School Degree</option>
                                            <option value="High School" selected="{{formDict['MotherDegree']=='High School'}}">High School</option>
                                            <option value="Associates/Certificate" selected="{{formDict['MotherDegree']=='Associates/Certificate'}}">Associates/Certificate</option>
                                            <option value="Bachelors" selected="{{formDict['MotherDegree']=='Bachelors'}}">Bachelors</option>
                                            <option value="Masters" selected="{{formDict['MotherDegree']=='Masters'}}">Masters</option>
                                            <option value="Doctorate" selected="{{formDict['MotherDegree']=='Doctorate'}}">Doctorate</option>
                                    </select> <br> <br> <select size="1" name="FATHERDEGREE">
                                            <option value="N/A" selected="{{formDict['FatherDegree']=='N/A'}}">N/A</option>
                                            <option value="No High School Degree" selected="{{formDict['FatherDegree']=='No High School Degree'}}">No High School Degree</option>
                                            <option value="High School" selected="{{formDict['FatherDegree']=='High School'}}">High School</option>
                                            <option value="Associates/Certificate" selected="{{formDict['FatherDegree']=='Associates/Certificate'}}">Associates/Certificate</option>
                                            <option value="Bachelors" selected="{{formDict['FatherDegree']=='Bachelors'}}">Bachelors</option>
                                            <option value="Masters" selected="{{formDict['FatherDegree']=='Masters'}}">Masters</option>
                                            <option value="Doctorate" selected="{{formDict['FatherDegree']=='Doctorate'}}">Doctorate</option>
                                    </select> <br> <br> </font>
                                </p></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">
                                        Class completed at the end of the coming spring
                                        quarter/semester: <br>
                                    </font> <br> <font size="2" face="Arial, Helvetica, sans-serif">(Please
                                        note that only second year, third year, and non-graduating
                                        fourth year undergraduates are eligible to apply) </font><font
                                        size="3" face="Arial, Helvetica, sans-serif"><br>
                                    </font>
                                </p></td>
                            <td height="22" align="left" width="60%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> <select
                                        size="1" name="CLASSCOMPLETE">
                                            <option value="Sophomore" selected="{{formDict['ClassCompletedSpring']=='Sophomore'}}">Sophomore</option>
                                            <option value="Junior" selected="{{formDict['ClassCompletedSpring']=='Junior'}}">Junior</option>
                                            <option value="Non-Graduating Senior" selected="{{formDict['ClassCompletedSpring']=='Non-Graduating Senior'}}">Non-Graduating Senior</option>
                                    </select> <br>
                                    </font><br>
                                </p></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">What
                                        month and year do you anticipate to graduate with your
                                        bachelors degree? </font>
                                </p></td>
                            <td height="22" align="left" width="60%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> </font><font
                                        face="Arial"> <select size="1" name="GRADUATION_DATE">
                                            <option value="January" selected="{{formDict['GraduationMonth']=='January'}}">January</option>
                                            <option value="February" selected="{{formDict['GraduationMonth']=='February'}}">February</option>
                                            <option value="March" selected="{{formDict['GraduationMonth']=='March'}}">March</option>
                                            <option value="April" selected="{{formDict['GraduationMonth']=='April'}}">April</option>
                                            <option value="May" selected="{{formDict['GraduationMonth']=='May'}}">May</option>
                                            <option value="June" selected="{{formDict['GraduationMonth']=='June'}}">June</option>
                                            <option value="July" selected="{{formDict['GraduationMonth']=='July'}}">July</option>
                                            <option value="August" selected="{{formDict['GraduationMonth']=='August'}}">August</option>
                                            <option value="September" selected="{{formDict['GraduationMonth']=='September'}}">September</option>
                                            <option value="October" selected="{{formDict['GraduationMonth']=='October'}}">October</option>
                                            <option value="November" selected="{{formDict['GraduationMonth']=='November'}}">November</option>
                                            <option value="December" selected="{{formDict['GraduationMonth']=='December'}}">December</option>
                                    </select>
                                    </font><font size="3" face="Arial, Helvetica, sans-serif"> <select
                                        size="1" name="BACHELORYEAR">
                                            <option value="2016" selected="{{formDict['GraduationYear']=='2016'}}">2016</option>
                                            <option value="2017" selected="{{formDict['GraduationYear']=='2017'}}">2017</option>
                                            <option value="2018" selected="{{formDict['GraduationYear']=='2018'}}">2018</option>
                                            <option value="2019" selected="{{formDict['GraduationYear']=='2019'}}">2019</option>
                                    </select>
                                    </font><font face="Arial"> </font>
                                </p></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">Cumulative
                                        GPA:<br>
                                    </font><font size="2" face="Arial, Helvetica, sans-serif"> (on
                                        a 4.0 scale; you must have a cumulative GPA &gt; 3.2 to apply.
                                        Use #.## format) -- MIT students please enter on a 5.0 scale</font>
                                </p></td>
                            <td height="22" align="left" width="60%"><p>
                                    <font face="Arial, Helvetica, sans-serif" size="3"
                                        color="#000000"> <input name="CUMULATIVEGPA" size="40"
                                        type="text" value="{{formDict['CumulativeGPA']}}">
                                    </font>
                                </p></td>
                        </tr>
                        <tr>
                            <td height="22"><font size="3"
                                face="Arial, Helvetica, sans-serif">Advanced Degree
                                    Objective: </font></td>
                            <td height="22" align="left"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> <input
                                        type="radio" name="ADVANCEDDEGREE" value="PHD"> Ph. D.<br>
                                        <input type="radio" name="ADVANCEDDEGREE" value="MDPHD">
                                        M. D./Ph. D.<br> <input type="radio"
                                        name="ADVANCEDDEGREE" value="MAMS"> M. A./M. S.<br>
                                        <input type="radio" name="ADVANCEDDEGREE" value="MD">
                                        M.D.<br> <input type="radio" name="ADVANCEDDEGREE"
                                        value="Other"> Other, Please Specify: <font
                                        color="#000000"> <input name="ADVANCEDDEGREEOTHER"
                                            size="40" type="text" value="">
                                    </font></font>
                                </p></td>
                        </tr>
                        <td height="22"><font size="3"
                            face="Arial, Helvetica, sans-serif">Does your four-year
                                college or university offer an undergraduate research program? </font></td>
                        <td height="22" align="left"><p>
                                <font size="3" face="Arial, Helvetica, sans-serif"> <input
                                    type="radio" name="RESEARCHOFFER" value="Yes"> Yes<br>
                                    <input type="radio" name="RESEARCHOFFER" value="No"> No<br>
                                </font>
                            </p></td>
                        </tr>

                        <tr>
                            <td><font size="3" face="Arial, Helvetica, sans-serif">How
                                    did you hear about the Amgen Scholars program? </font></td>
                            <td><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> <input
                                        type=checkbox name="AMGENSITE"> Amgen National Website
                                        <BR> <input type=checkbox name="UNIVERSITYSITE">
                                        University website, University name:
                                    </font><font face="Arial, Helvetica, sans-serif" size="3"
                                        color="#000000"> <input name="UNIVERSITYSITENAME"
                                        size="25" type="text" value="{{formDict['HowDidYouHearUniversityName']}}">
                                    </font><font size="3" face="Arial, Helvetica, sans-serif"><BR>
                                        <input type=checkbox name="EMAILANNOUNCEMENT"> E-mail
                                        Announcement <BR> <input type=checkbox name="POSTER">
                                        Poster<BR> <input type=checkbox name="CONFERENCE">
                                        Conference, Conference name: </font><font
                                        face="Arial, Helvetica, sans-serif" size="3" color="#000000">
                                        <input name="CONFERENCENAME" size="30" type="text" value="{{formDict['HowDidYouHearConferenceName']}}">
                                    </font><font size="3" face="Arial, Helvetica, sans-serif"><BR>
                                        <input type=checkbox name="ACADEMICADVISOR"> Academic
                                        Advisor <BR> <input type=checkbox name="INTERNETSEARCH">
                                        Internet Search <BR> <input type=checkbox
                                        name="HOMEUNIVERSITY"> Faculty/Staff from home
                                        university <BR> <input type=checkbox
                                        name="OTHERUNIVERSITY"> Faculty/Staff from other
                                        university <br> University name: </font><font
                                        face="Arial, Helvetica, sans-serif" size="3" color="#000000">
                                        <input name="OTHERUNIVERSITYNAME" size="25" type="text"
                                        value="{{formDict['HowDidYouHearOtherUniversityName']}}">
                                    </font><font size="3" face="Arial, Helvetica, sans-serif"><br>
                                        <input type=checkbox name="AMGENOTHER"> Other, please
                                        specify: </font><font face="Arial, Helvetica, sans-serif" size="3"
                                        color="#000000"> <input name="AMGENOTHERNAME" size="25"
                                        type="text" value="{{formDict['HowDidYouHearOther']}}">
                                    </font>
                                </p></td>
                        </tr>
                        <td height="22" width="40%"><font size="3"
                            face="Arial, Helvetica, sans-serif">Are you applying to
                                any other Amgen Scholars sites?</font></td>
                        <td height="22" align="left" width="60%"><p>
                                <font size="3" face="Arial, Helvetica, sans-serif"> <input
                                    type="radio" name="APPLYINGOTHER" value="No"> No<br>
                                    <input type="radio" name="APPLYINGOTHER" value="Yes">
                                    Yes (if yes, where? <input name="APPLYINGOTHERSPECIFY"
                                    maxlength="30" size="30" type="text" value="{{formDict['AnyOtherAmgenScholarsSite']}}"> )<br>
                                    <br>
                                </font>
                            </p></td>
                        <tr>
                            <td height="22" width="40%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">Have
                                        you participated as an Amgen Scholar in the past?</font><br>
                                </p></td>
                            <td height="22" align="left" width="60%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> <input
                                        type="radio" name="PARTICIPATED" value="notparticipated">
                                        No<br> <input type="radio" name="PARTICIPATED"
                                        value="participated"> Yes
                                    </font><font size="2" face="Arial, Helvetica, sans-serif"><br>
                                        (note that if you have participated IN THE AMGEN SCHOLARS
                                        PROGRAM AT ANY OF THE TEN UNIVERSITIES that you are NOT
                                        ELIGIBLE to participate again)</font><font size="3"
                                        face="Arial, Helvetica, sans-serif"><br> <br>
                                    </font>
                                </p></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">Did
                                        you perform original research before this summer where you had
                                        your own project?</font><br>
                                </p></td>
                            <td height="22" align="left" width="60%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> <input
                                        type="radio" name="UG_RESEARCH" value="Yes"> Yes<br>
                                        <input type="radio" name="UG_RESEARCH" value="No"> No
                                    </font> </font>
                                </p></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> Can
                                        you arrive at CU for the first day of the program, which is
                                        the day after Memorial Day each year? </font><br />
                                </p></td>
                            <td height="22" align="left" width="60%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> <input
                                        type="radio" name="ARRIVEONFIRSTDAY" value="Yes"> Yes<br>
                                        <input type="radio" name="ARRIVEONFIRSTDAY" value="No">
                                        No <br /> Comments: <br /> <textarea
                                            name="ARRIVEONFIRSTDAYX" rows="4" style="width: 99%"
                                            maxlength="250" value="{{formDict['ArriveAtColumbiaComments']}}"></textarea>
                                    </font> </font>
                                </p></td>
                        </tr>
                </table>
            </center>
        </div>
        <p></p>
        <div align="center">
            <center>
                <table cellpadding="0" width="79%" border="0">
                    <tbody>
                        <tr>
                            <td width="79%"><font size="3"
                                face="Arial, Helvetica, sans-serif"><font
                                    face="Arial Unicode MS">Currently attending which
                                        College/University: </font></td>
                            <td><select name="university" id="universitySelect" ONCHANGE="goto(this.form)">
                                    {% for u in universityList %}
                                        <option value="{{ u }}" selected="{{u==formDict['CurrentlyAttendingUniversity']}}">{{ u }}</option>
                                    {% endfor %}
                            </select></td>
                        </tr>
                        <tr>
                            <td colspan=2>
                                <p align="justify">
                                    <br> <font size="3" face="Arial, Helvetica, sans-serif">You
                                        must be attending a four-year college or university in the
                                        United States, Puerto Rico, or other US territory. If your
                                        school is not listed, please email <a
                                        href="mailto:surf@biology.columbia.edu">surf@biology.columbia.edu</a>
                                        and we will add it immediately.
                                    </font>
                                <p>
                            </td>
                        </tr>
                </table>
                <table cellpadding="0" width="79%" border="0">
                    <tbody>
                        <tr>
                            <td width="79%"><font size="3" face="Arial Unicode MS">
                                    Your major (declared or expected)</font></td>
                            <td width="42%"><font face="Arial"><input size="26"
                                    name="MAJOR" value="{{formDict['Major']}}"></font></td>
                        </tr>
                        <tr>
                            <td width="79%"><font size="3" face="Arial Unicode MS">
                                    Date Spring semester ends: <br>
                            </font></td>
                            <td width="42%"><font face="Arial"><input size="26"
                                    name="SEMESTER_END" value="{{formDict['DateSpringSemesterEnds']}}"> </font></td>
                        </tr>
                </table>
            </center>
        </div>
        <div align="center">
            <center>
                <p>
                    <font face="Arial Unicode MS"> Hit the Submit button, and
                        wait a minute for it to send.</font>
                </p>

            </center>
        </div>
        <div align="center">
            <center>
                <p>
                    <font face="Arial"> <br> <input value="Back" name="submitBut"
                        type="submit"> <input value="Next" name="submitBut"
                        type="submit">

                    </font>

                </p>
            </center>
        </div>
    </form>
</body>
</html>
