<html>
   <body>
   
      <form action = "/addUsername" method = "POST">
         	<div align="center">
			<center>
				<p>
					Username: <input size="28" name="userid" value="">  
				</p>
			</center>
		</div>
		<div align="center">
			<center>
				<p>
					Password: <input size="28" name="passwrd" type="password" value=""> 
				</p>
			</center>
		</div>
			<div align="center">
												<center>
													<p>
														<font face="Arial"> <br> <input value="Submit"	type="submit" name="submit"> 
														</font>
													</p>
												</center>
											</div>
      </form>
      
   </body>
</html>