
<html>
<head>
<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type">
<title>AMGEN Online Application</title>
</head>

<body text="#000000" bgcolor="#ffffff" link="#0088FF" vlink="#0088FF">

    <form action="/updateProfileByAdmin" method="post" name="surfapp">
        <div align="center">
            <center>
                <table width="75%" cellspacing="0" cellpadding="2" border="0">
                    <tbody>
                        <tr>
                            <td bgcolor="#004488" width="100%" align="center"><font
                                size="3" face="Arial" color="#ffffff"><b>Columbia
                                        University<br> Department of Biological Sciences
                                </b></font><font size="4" face="Arial" color="#ffffff"> <br> <b>Amgen
                                        Scholars Summer Research Program 2016 </b>
                                        <br> <b>Student Profile: {{formDict['FirstName']}} {{formDict['LastName']}} </b></font><b><font
                                    face="Arial" size="4" color="#ffffff"></font></b></td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </div>
        <div align="center">
            <center>
                <table height="50" width="65%" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr><td><b><font face="Arial" >Application Status</font></b></td>
                            <td>
                                <select size="1" name="ApplicationStatus">
                                        <option value="Accepted" {%if formDict['ApplicationStatus']=='Accepted'%} selected {%endif%}>Accepted</option>
                                        <option value="Rejected" {%if formDict['ApplicationStatus']=='Rejected'%} selected {%endif%}>Rejected</option>
                                        <option value="IncompleteApplication" {%if formDict['ApplicationStatus']=='IncompleteApplication'%} selected {%endif%}>IncompleteApplication</option>
                                        <option value="ReferencesRequired" {%if formDict['ApplicationStatus']=='ReferencesRequired'%} selected {%endif%}>ReferencesRequired</option>
                                        <option value="UnderReview" {%if formDict['ApplicationStatus']=='UnderReview'%} selected {%endif%}>UnderReview</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </div>
        
        <div align="center">
            <center>
                <table height="330" width="65%" cellspacing="0" cellpadding="0"
                    border="1">
                    <tbody>
                        <tr>
                            <td height="19" bgcolor="#ffffff" colspan="2"></td>
                        </tr>
                        <tr>
                            <td align="center" height="19" bgcolor="#004488" colspan="2"><b><font
                                    face="Arial" color="#ffffff">Online Application</font></b></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font size="3"
                                face="Arial Unicode MS">First Name:</font></td>
                            <td height="22" align="left" width="60%"><font size="3"
                                color="#000000"> <input name="FNAME" value="{{formDict['FirstName']}}"
                                    maxlength="50" size="14" type="text"> <font
                                    face="Arial, Helvetica, sans-serif">Last Name:</font> <input
                                    name="LNAME" size="15" type="text" value="{{formDict['LastName']}}"></font></td>
                        </tr>
                        <tr>
                            <td height="22"><p>
                                    <font face="Arial Unicode MS">Date of Birth:<br> <font
                                        size="2">(mm-dd-yyyy)</font></font>
                                </p></td>
                            <td height="22" align="left"><font face="Arial" size="3"
                                color="#000000"> <input name="DATEOFBIRTH" maxlength="40"
                                    size="40" type="text" value="{{formDict['DOB']}}">
                            </font></td>
                        </tr>
                        <tr>
                            <td height="23" width="40%"><font size="3"
                                face="Arial Unicode MS">Email:</font></td>
                            <td height="23" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"><input name="EMAIL" size="40"
                                    type="text" value="{{formDict['Email']}}"> </font></td>
                        </tr>
                        <tr>
                            <td height="23" width="40%"><p>
                                    <font size="3" face="Arial Unicode MS">Alternative Email
                                        (non .edu):<br /> <font size="2">(Required)</font>
                                    </font>
                                </p></td>
                            <td height="23" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"><input name="ALTERNATIVE_EMAIL"
                                    size="40" type="text" value="{{formDict['AlternativeEmail']}}"> </font></td>
                        </tr>

                        <tr>
                            <td height="22" width="40%"><font size="3"
                                face="Arial Unicode MS"> Phone # :</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"> <input name="PERMANENT_PHONE"
                                    size="40" type="text" value="{{formDict['Phone']}}">
                            </font></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font size="3"
                                face="Arial Unicode MS"> Permanent Street Address 1:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"> <input
                                    name="PERMANENT_ADDRESS1" size="40" type="text" value="{{formDict['PermStreetAdr1']}}">
                            </font></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font size="3"
                                face="Arial Unicode MS"> Permanent Street Address 2
                                    (optional):</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"> <input
                                    name="PERMANENT_ADDRESS2" size="40" type="text" value="{{formDict['PermStreetAdr2']}}">
                            </font></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font face="Arial Unicode MS">Permanent
                                    City:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"><input name="PERMANENT_CITY"
                                    size="40" type="text" value="{{formDict['PermanentCity']}}"> </font></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font face="Arial Unicode MS">Permanent
                                    State:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"><input name="PERMANENT_STATE"
                                    size="40" type="text" value="{{formDict['PermanentState']}}"> </font></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font face="Arial Unicode MS">Permanent
                                    Zip code:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"><input name="PERMANENT_ZIP"
                                    size="40" type="text" value="{{formDict['PermanentZipCode']}}"> </font></td>
                        </tr>







                        <tr>
                            <td height="22" width="40%"><font size="3"
                                face="Arial Unicode MS"> Campus Address 1:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"> <input name="SCHOOL_ADDRESS1"
                                    size="40" type="text" value="{{formDict['CampusAdr1']}}">
                            </font></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font size="3"
                                face="Arial Unicode MS"> Campus Address 2:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"> <input name="SCHOOL_ADDRESS2"
                                    size="40" type="text" value="{{formDict['CampusAdr2']}}">
                            </font></td>
                        </tr>


                        <tr>
                            <td height="22" width="40%"><font face="Arial Unicode MS">Campus
                                    City:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"><input name="CAMPUS_CITY"
                                    size="40" type="text" value="{{formDict['CampusCity']}}"> </font></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font face="Arial Unicode MS">Campus
                                    State:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"><input name="CAMPUS_STATE"
                                    size="40" type="text" value="{{formDict['CampusState']}}"> </font></td>
                        </tr>



                        <tr>
                            <td height="22" width="40%"><font face="Arial Unicode MS">Campus
                                    Zip code:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"><input name="CAMPUS_ZIP"
                                    size="40" type="text" value="{{formDict['CampusZipCode']}}"> </font></td>
                        </tr>






                        <tr>
                            <td height="22" width="40%"><font face="Arial Unicode MS">Home
                                    City:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"> <input name="HOMECITY" size="3"
                                    type="text" value="{{formDict['HomeCity']}}"\>
                            </font>If graduated high school in the US</td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font face="Arial Unicode MS">Home
                                    State:</font></td>
                            <td height="22" align="left" width="60%"><font face="Arial"
                                size="3" color="#000000"> <input name="HOMESTATE"
                                    size="3" type="text" value="{{formDict['HomeState']}}"\>
                            </font>If graduated high school in the US</td>
                        </tr>
                    </tbody>
                </table>
                <table width="65%" height="193" border="1" cellpadding="2"
                    cellspacing="0">
                    <tbody>
                        <tr>
                            <td><font size="3" face="Arial, Helvetica, sans-serif">
                                    Gender:</font></td>
                            <td><font size="3" face="Arial, Helvetica, sans-serif">
                                    <select size="1" name="GENDER">
                                        <option value="Male" {%if formDict['Gender']=='M'%} selected {%endif%}>Male</option>
                                        <option value="Female" {%if formDict['Gender']=='F'%} selected {%endif%}>Female</option>
                                </select>
                            </font></td>
                        </tr>
                        <tr>
                            <td><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">
                                        Ethnicity:</font>
                                </p>
                                <p align="left">
                                    <font size="2" face="Arial, Helvetica, sans-serif">(Please
                                        check all that apply) </font>
                                </p></td>
                            <td><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> 
                                        <input
                                        type=radio name ="ethinicity" id="INDIAN" value="American Indian / Alaskan Native"  {% if formDict['Ethnicity']=='American Indian / Alaskan Native'%} checked {%endif%}> American Indian / Alaskan Native<BR> 
                                        
                                        <input type=radio name ="ethinicity" id="BLACK" value="African-American / Black" {% if formDict['Ethnicity']=='African-American / Black' %} checked {% endif%}>African-American / Black<BR> 

                                        <input type=radio name="ethinicity" id="PACIFIC" value="Pacific Islander" {% if formDict['Ethnicity']=='Pacific Islander' %} checked {% endif%}>Pacific Islander<BR>

                                         <input type=radio name="ethinicity" id="MEXICAN" value="Mexican American /Chicano / Latino" {% if formDict['Ethnicity']=='Mexican American / Chicano / Latino' %} checked {% endif%}>Mexican American / Chicano / Latino<BR> 

                                        <input type=radio name="ethinicity" id="ASIAN" value="Asian American" {% if formDict['Ethnicity']=='Asian American' %} checked {% endif%}>Asian American<BR>
                                        
                                        <input type=radio name="ethinicity" id="MIDDLE" value="Middle Eastern" {% if formDict['Ethnicity']=='Middle Eastern' %} checked {% endif%}> Middle Eastern<BR> 

                                        <input type=radio name="ethinicity" id="WHITE" value="White/Caucasian" {% if formDict['Ethnicity']=='White / Caucasian' %} checked {% endif%}>White / Caucasian<BR>
                                        <input type=radio name="ethinicity" id="OTHER" value="Other" {% if formDict['Ethnicity']=='Other' %} checked {% endif%}>Other: <input name="ethnicityother" maxlength="50" size="40"
                                        type="text" value="{{formDict['EthnicityOther']}}"> <BR> 

                                        <input type=radio
                                        name="ethinicity" id="decline" value="Decline" {% if formDict['Ethnicity']=='Decline to State' %} checked {% endif%}> Decline to State
                                    </font>
                                </p></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><font size="3"
                                face="Arial, Helvetica, sans-serif">Citizenship Status: <br>
                                    <font size="2">(Please note that non-U.S. citizens and
                                        non-permanent residents are not eligible to apply.) </font></font></td>
                            <td height="22" align="left" width="60%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> 
                                        <input type="radio" name="CITIZENSHIP" value="citizen" {% if formDict['CitizenshipStatus']=='citizen' %} checked {% endif%}>U.S. Citizen<br> 
                                        <input type="radio" name="CITIZENSHIP"
                                        value="resident" {% if formDict['CitizenshipStatus']=='resident' %} checked {% endif%}>Permanent Resident, Place of Birth
                                        <input name="PLACEOFBIRTH" maxlength="75" size="25" type="text"
                                        value="{{formDict['PlaceOfBirth']}}"> <br> 
                                        <input type="radio"
                                        name="CITIZENSHIP" value="other" {% if formDict['CitizenshipStatus']=='other' %} checked {% endif%}>Other<br> <br>
                                    </font>
                                </p></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">Parents
                                        Educational Background:</font>
                                </p>
                                <p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">
                                        Mother, Highest Degree Earned:</font>
                                </p>
                                <p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">Father,
                                        Highest Degree Earned: </font>
                                </p></td>
                            <td height="22" align="left" width="60%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"><br>
                                        <br> <select size="1" name="MOTHERDEGREE">
                                            <option value="N/A" {%if formDict['MotherDegree']=='N/A' %} selected {%endif%}>N/A</option>
                                            <option value="No High School Degree" {%if formDict['MotherDegree']=='No High School Degree' %} selected {%endif%}>No High School Degree</option>
                                            <option value="High School" {%if formDict['MotherDegree']=='High School' %} selected {%endif%}>High School</option>
                                            <option value="Associates/Certificate" {%if formDict['MotherDegree']=='Associates/Certificate' %} selected {%endif%}>Associates/Certificate</option>
                                            <option value="Bachelors" {%if formDict['MotherDegree']=='Bachelors' %} selected {%endif%}>Bachelors</option>
                                            <option value="Masters" {%if formDict['MotherDegree']=='Masters' %} selected {%endif%}>Masters</option>
                                            <option value="Doctorate" {%if formDict['MotherDegree']=='Doctorate' %} selected {%endif%}>Doctorate</option>
                                    </select> <br> <br> <select size="1" name="FATHERDEGREE">
                                            <option value="N/A" {%if formDict['FatherDegree']=='N/A' %} selected {%endif%}>N/A</option>
                                            <option value="No High School Degree" {%if formDict['FatherDegree']=='No High School Degree' %} selected {%endif%}>No High School Degree</option>
                                            <option value="High School" {%if formDict['FatherDegree']=='High School' %} selected {%endif%}>High School</option>
                                            <option value="Associates/Certificate" {%if formDict['FatherDegree']=='Associates/Certificate' %} selected {%endif%}>Associates/Certificate</option>
                                            <option value="Bachelors" {%if formDict['FatherDegree']=='Bachelors' %} selected {%endif%}>Bachelors<</option>
                                            <option value="Masters" {%if formDict['FatherDegree']=='Masters' %} selected {%endif%}>Masters</option>
                                            <option value="Doctorate" {%if formDict['FatherDegree']=='Doctorate' %} selected {%endif%}>Doctorate</option>
                                    </select> <br> <br> </font>
                                </p></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">
                                        Class completed at the end of the coming spring
                                        quarter/semester: <br>
                                    </font> <br> <font size="2" face="Arial, Helvetica, sans-serif">(Please
                                        note that only second year, third year, and non-graduating
                                        fourth year undergraduates are eligible to apply) </font><font
                                        size="3" face="Arial, Helvetica, sans-serif"><br>
                                    </font>
                                </p></td>
                            <td height="22" align="left" width="60%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> <select
                                        size="1" name="CLASSCOMPLETE">
                                            <option value="Sophomore" {%if formDict['ClassCompletedSpring']=='Sophomore'%} selected {%endif%}>Sophomore</option>
                                            <option value="Junior" {%if formDict['ClassCompletedSpring']=='Junior'%} selected {%endif%}>Junior</option>
                                            <option value="Non-Graduating Senior" {%if formDict['ClassCompletedSpring']=='Non-Graduating Senior'%} selected {%endif%}>Non-Graduating Senior</option>
                                    </select> <br>
                                    </font><br>
                                </p></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">What
                                        month and year is graduation anticipated? </font>
                                </p></td>
                            <td height="22" align="left" width="60%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> </font><font
                                        face="Arial"> <select size="1" name="GRADUATION_DATE">
                                            <option value="January" {%if formDict['GraduationMonth']=='January' %} selected {%endif%}>January</option>
                                            <option value="February" {%if formDict['GraduationMonth']=='February'%} selected {%endif%}>February</option>
                                            <option value="March" {%if formDict['GraduationMonth']=='March'%} selected {%endif%}>March</option>
                                            <option value="April" {%if formDict['GraduationMonth']=='April'%} selected {%endif%}>April</option>
                                            <option value="May" {%if formDict['GraduationMonth']=='May'%} selected {%endif%}>May</option>
                                            <option value="June" {%if formDict['GraduationMonth']=='June'%} selected {%endif%}>June</option>
                                            <option value="July" {%if formDict['GraduationMonth']=='July'%} selected {%endif%}>July</option>
                                            <option value="August" {%if formDict['GraduationMonth']=='August'%} selected {%endif%}>August</option>
                                            <option value="September" {%if formDict['GraduationMonth']=='September'%} selected {%endif%}>September</option>
                                            <option value="October" {%if formDict['GraduationMonth']=='October'%} selected {%endif%}>October</option>
                                            <option value="November" {%if formDict['GraduationMonth']=='November'%} selected {%endif%}>November</option>
                                            <option value="December" {%if formDict['GraduationMonth']=='December'%} selected {%endif%}>December</option>
                                    </select>
                                    </font><font size="3" face="Arial, Helvetica, sans-serif"> <select
                                        size="1" name="BACHELORYEAR">
                                            <option value="2016" {%if formDict['GraduationYear']=='2016'%} selected {%endif%}>2016</option>
                                            <option value="2017" {%if formDict['GraduationYear']=='2017'%} selected {%endif%}>2017</option>
                                            <option value="2018" {%if formDict['GraduationYear']=='2018'%} selected {%endif%}>2018</option>
                                            <option value="2019" {%if formDict['GraduationYear']=='2019'%} selected {%endif%}>2019</option>
                                    </select>
                                    </font><font face="Arial"> </font>
                                </p></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">Cumulative
                                        GPA:<br>
                                    </font><font size="2" face="Arial, Helvetica, sans-serif"> (on
                                        a 4.0 scale; a cumulative GPA &gt; 3.2 to apply.
                                         -- MIT students entered on a 5.0 scale</font>
                                </p></td>
                            <td height="22" align="left" width="60%"><p>
                                    <font face="Arial, Helvetica, sans-serif" size="3"
                                        color="#000000"> <input name="CUMULATIVEGPA" size="40"
                                        type="text" value="{{formDict['CumulativeGPA']}}">
                                    </font>
                                </p></td>
                        </tr>
                        <tr>
                            <td height="22"><font size="3"
                                face="Arial, Helvetica, sans-serif">Advanced Degree
                                    Objective: </font></td>
                            <td height="22" align="left"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> 
                                        <input type="radio" name="ADVANCEDDEGREE" value="PHD" {% if formDict['AdvancedDegreeObjective']=='PHD'%} checked {%endif%}> Ph. D.<br>
                                        <input type="radio" name="ADVANCEDDEGREE" value="MDPHD" {% if formDict['AdvancedDegreeObjective']=='MDPHD'%} checked {%endif%}>
                                        M. D./Ph. D.<br> 
                                        <input type="radio"
                                        name="ADVANCEDDEGREE" value="MAMS" {% if formDict['AdvancedDegreeObjective']=='MAMS'%} checked {%endif%}>M. A./M. S.<br>
                                        <input type="radio" name="ADVANCEDDEGREE" value="MD" {% if formDict['AdvancedDegreeObjective']=='MD'%} checked {%endif%}>
                                        M.D.<br> 
                                        <input type="radio" name="ADVANCEDDEGREE"
                                        value="Other" {% if formDict['AdvancedDegreeObjective']=='Other'%} checked {%endif%}> Other, Please Specify: <font
                                        color="#000000"> 
                                        <input name="ADVANCEDDEGREEOTHER"
                                            size="40" type="text" value="{{formDict['AdvancedDegreeObjectiveOther']}}">
                                    </font></font>
                                </p></td>
                        </tr>
                        <td height="22"><font size="3"
                            face="Arial, Helvetica, sans-serif">Does their four-year
                                college or university offer an undergraduate research program? </font></td>
                        <td height="22" align="left"><p>
                                <font size="3" face="Arial, Helvetica, sans-serif"> 
                                    <input type="radio" name="RESEARCHOFFER" value="Yes" {% if formDict['IsUndergraduateResearchProgramOffered']=='Yes'%} checked {%endif%}>Yes<br>
                                    <input type="radio" name="RESEARCHOFFER" value="No" {% if formDict['IsUndergraduateResearchProgramOffered']=='No'%} checked {%endif%}>No<br>
                                </font>
                            </p></td>
                        </tr>

                        <tr>
                            <td><font size="3" face="Arial, Helvetica, sans-serif">How
                                    did the student hear about the Amgen Scholars program? </font></td>
                            <td><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> 
                                        <input type=checkbox name="AMGENSITE" {% if 'Amgen National Website' in formDict['HowDidYouHear']%} checked {%endif%}>Amgen National Website
                                        <BR> 
                                        <input type=checkbox name="UNIVERSITYSITE" {% if 'University website, University name' in formDict['HowDidYouHear']%} checked {%endif%}> University website, University name:
                                    </font><font face="Arial, Helvetica, sans-serif" size="3"
                                        color="#000000"> 
                                        <input name="UNIVERSITYSITENAME" size="25" type="text" value="{{formDict['HowDidYouHearUniversityName']}}">
                                    </font><font size="3" face="Arial, Helvetica, sans-serif"><BR>
                                        <input type=checkbox name="EMAILANNOUNCEMENT" {% if 'E-mail Announcement' in formDict['HowDidYouHear']%} checked {%endif%}>E-mail Announcement<BR> 
                                        <input type=checkbox name="POSTER" {% if 'Poster' in formDict['HowDidYouHear']%} checked {%endif%}>Poster<BR> 
                                        <input type=checkbox name="CONFERENCE" {% if 'Conference, Conference Name' in formDict['HowDidYouHear']%} checked {%endif%}> Conference, Conference name: 
                                    </font><font face="Arial, Helvetica, sans-serif" size="3" color="#000000">
                                        <input name="CONFERENCENAME" size="30" type="text" value="{{formDict['HowDidYouHearConferenceName']}}">
                                    </font><font size="3" face="Arial, Helvetica, sans-serif"><BR>
                                        <input type=checkbox name="ACADEMICADVISOR" {% if 'Academic Advisor' in formDict['HowDidYouHear']%} checked {%endif%}> Academic Advisor <BR> 
                                        <input type=checkbox name="INTERNETSEARCH" {% if 'Internet Search' in formDict['HowDidYouHear']%} checked {%endif%}>Internet Search<BR>
                                        <input type=checkbox name="HOMEUNIVERSITY" {% if 'Faculty/Staff from home university' in formDict['HowDidYouHear']%} checked {%endif%}> Faculty/Staff from home university <BR>
                                        <input type=checkbox name="OTHERUNIVERSITY" {% if 'Faculty/Staff from home university' in formDict['HowDidYouHear']%} checked {%endif%}> Faculty/Staff from other university <br> University name: 
                                    </font><font face="Arial, Helvetica, sans-serif" size="3" color="#000000">
                                        <input name="OTHERUNIVERSITYNAME" size="25" type="text" value="{{formDict['HowDidYouHearOtherUniversityName']}}">
                                    </font><font size="3" face="Arial, Helvetica, sans-serif"><br>
                                        <input type=checkbox name="AMGENOTHER" {% if 'Other' in formDict['HowDidYouHear']%} checked {%endif%}> Other, please specify: </font><font face="Arial, Helvetica, sans-serif" size="3" color="#000000">
                                        <input name="AMGENOTHERNAME" size="25" type="text" value="{{formDict['HowDidYouHearOther']}}">
                                    </font>
                                </p></td>
                        </tr>
                        <td height="22" width="40%"><font size="3"
                            face="Arial, Helvetica, sans-serif">Is the student applying to
                                any other Amgen Scholars sites?</font></td>
                        <td height="22" align="left" width="60%"><p>
                                <font size="3" face="Arial, Helvetica, sans-serif"> 
                                    <input type="radio" name="APPLYINGOTHER" value="No" {% if formDict['AnyOtherAmgenScholarsSite']=='No'%} checked {%endif%}>No<br>
                                    <input type="radio" name="APPLYINGOTHER" value="Yes" {% if formDict['AnyOtherAmgenScholarsSite']=='Yes'%} checked {%endif%}>Yes (if yes, where? 
                                    <input name="APPLYINGOTHERSPECIFY" maxlength="30" size="30" type="text" value="{{formDict['AnyOtherAmgenScholarsSite']}}"> )<br>
                                    <br>
                                </font>
                            </p></td>
                        <tr>
                            <td height="22" width="40%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">Has
                                        the student participated as an Amgen Scholar in the past?</font><br>
                                </p></td>
                            <td height="22" align="left" width="60%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> <input
                                        type="radio" name="PARTICIPATED" value="notparticipated" {% if formDict['PastAmgenScholarParticipation']=='notparticipated'%} checked {%endif%}>
                                        No<br> 
                                        <input type="radio" name="PARTICIPATED" value="participated" {% if formDict['PastAmgenScholarParticipation']=='participated'%} checked {%endif%}> Yes
                                    </font><font size="2" face="Arial, Helvetica, sans-serif"><br>
                                        (note that if the student has participated IN THE AMGEN SCHOLARS
                                        PROGRAM AT ANY OF THE TEN UNIVERSITIES that the student is NOT
                                        ELIGIBLE to participate again)</font><font size="3"
                                        face="Arial, Helvetica, sans-serif"><br> <br>
                                    </font>
                                </p></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif">Did
                                        the student perform original research before this summer where the student had
                                        his/her own project?</font><br>
                                </p></td>
                            <td height="22" align="left" width="60%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> 
                                    <input type="radio" name="UG_RESEARCH" value="Yes" {% if formDict['OriginalResearchPerformed']=='Yes'%} checked {%endif%}> Yes<br>
                                    <input type="radio" name="UG_RESEARCH" value="No" {% if formDict['OriginalResearchPerformed']=='No'%} checked {%endif%}> No
                                    </font> </font>
                                </p></td>
                        </tr>
                        <tr>
                            <td height="22" width="40%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> Can
                                        the student arrive at CU for the first day of the program, which is
                                        the day after Memorial Day each year? </font><br />
                                </p></td>
                            <td height="22" align="left" width="60%"><p>
                                    <font size="3" face="Arial, Helvetica, sans-serif"> 
                                        <input type="radio" name="ARRIVEONFIRSTDAY" value="Yes" {% if formDict['CanArriveAtColumbiaMemorialDay']=='Yes'%} checked {%endif%}> Yes<br>
                                        <input type="radio" name="ARRIVEONFIRSTDAY" value="No" {% if formDict['CanArriveAtColumbiaMemorialDay']=='No'%} checked {%endif%}>No <br /> 
                                        Comments: <br /> <textarea
                                            name="ARRIVEONFIRSTDAYX" rows="4" style="width: 99%"
                                            maxlength="250">{{formDict['ArriveAtColumbiaComments']}}</textarea>
                                    </font> </font>
                                </p></td>
                        </tr>
                </table>
            </center>
        </div>
        <p></p>
        <div align="center">
            <center>
                <table cellpadding="0" width="79%" border="0">
                    <tbody>
                        <tr>
                            <td width="79%"><font size="3"
                                face="Arial, Helvetica, sans-serif"><font
                                    face="Arial Unicode MS">Currently attending which
                                        College/University: </font></td>
                            <td><select name="university" id="universitySelect" ONCHANGE="goto(this.form)">
                                    {% for u in universityList %}
                                        <option value="{{ u }}" {%if u==formDict['CurrentlyAttendingUniversity']%} selected {%endif%}>{{ u }}></option>
                                    {% endfor %}
                            </select></td>
                        </tr>
                        
                </table>
                <table cellpadding="0" width="79%" border="0">
                    <tbody>
                        <tr>
                            <td width="79%"><font size="3" face="Arial Unicode MS">
                                     Major (declared or expected)</font></td>
                            <td width="42%"><font face="Arial"><input size="26"
                                    name="MAJOR" value="{{formDict['Major']}}"></font></td>
                        </tr>
                        <tr>
                            <td width="79%"><font size="3" face="Arial Unicode MS">
                                    Date Spring semester ends: <br>
                            </font></td>
                            <td width="42%"><font face="Arial"><input size="26"
                                    name="SEMESTER_END" value="{{formDict['DateSpringSemesterEnds']}}"> </font></td>
                        </tr>
                </table>
            </center>
        </div>
        <div></div>
        <div align="center">
            <center>
                </br>

                <table width="75%" cellspacing="0" cellpadding="2" border="0">
                    <tbody>
                        <tr>
                            <td bgcolor="#004488" width="100%" align="center"><font
                                size="4" face="Arial" color="#ffffff">Laboratory or
                                    science-related experience<br>
                            </font><b><font face="Arial Unicode MS" size="3" color="#ffffff">Have
                                        you participated in research as an UNDERGRADUATE (either
                                        during the academic year or the summer)? If yes, please list
                                        the dates of participation, the institution, the name of the
                                        principal investigator and explain the project. (Limit: 700
                                        characters with spaces, or about 100 words). </td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </div>

        <div align="center">
            <center>
                <p>
                    <font face="Arial"><textarea wrap="HARD" cols="60" rows="9"
                            name="EXPERIENCE"
                            onKeyDown="limitText(this.form.EXPERIENCE,800);"
                            onKeyUp="limitText(this.form.EXPERIENCE,800);">{{formDict['ScienceExperience']}}</textarea></font>
                </p>
            </center>
        </div>
        <div align="center">
            <center>
                <p></p>
            </center>
        </div>
        <div align="center">
            <center>
                <table width="75%" cellspacing="0" cellpadding="2" border="0">
                    <tbody>
                        <tr>
                            <td bgcolor="#004488" width="100%" align="center"><font
                                size="4" face="Arial" color="#ffffff">Career Plans</font><font
                                face="Arial" size="5" color="#ffffff"><br> </font><font
                                face="Arial Unicode MS" size="3" color="#ffffff"><b>Future Career Plans. (Limit: 500
                                        characters, about 75 words.)</b></font></td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </div>
        <div align="center">
            <center>
                <p>
                    <font face="Arial"> <textarea wrap="HARD" cols="60" rows="5"
                            name="CAREER_PLANS"
                            onKeyDown="limitText(this.form.CAREER_PLANS,600);"
                            onKeyUp="limitText(this.form.CAREER_PLANS,600);">{{formDict['CareerPlans']}}</textarea>
                    </font>
                </p>
            </center>
        </div>
        <p></p>
        <div align="center">
            <center>
                <table width="75%" cellspacing="0" cellpadding="2" border="0">
                    <tbody>
                        <tr>
                            <td bgcolor="#004488" width="100%" align="center"><font
                                size="4" face="Arial" color="#ffffff"></font><font face="Arial"
                                size="5" color="#ffffff"> </font><font face="Arial Unicode MS"
                                size="3" color="#ffffff"><b>What the student would
                                        like to be doing at work in 20 years,(ideal job)<br> (Limit: 500 characters,
                                        about 75 words.)
                                </b></font></td>
                        </tr>
                    </tbody>
                </table>
            </center>
        </div>
        <div align="center">
            <center>
                <p>
                    <font face="Arial"> <textarea wrap="HARD" cols="60" rows="7"
                            name="whysurf" onKeyDown="limitText(this.form.whysurf,600);"
                            onKeyUp="limitText(this.form.whysurf,600);">{{formDict['AspirationNext20Yrs']}}</textarea>
                    </font>
                </p>
            </center>
        </div>
        <blockquote>
            <p></p>
            <div align="center">
                <center>
                    <table width="75%" cellspacing="0" cellpadding="2" border="0">
                        <tbody>
                            <tr>
                                <td bgcolor="#004488" width="100%" align="center"><div
                                        align="justify">
                                        <font face="Arial" size="4" color="#ffffff">List of 5 Mentors <a
                                            href="http://www.columbia.edu/cu/biology/ug/amgen/Mentors00.html"
                                            target="_blank">Mentors</a> section of the Amgen webpage.
                                        </font>
                                    </div></td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </div>
            <div align="center">
                <center>
                    <p>
                        <font face="Arial">

                            <p>
                                1 <select name="mentor0">
                                {% for u in mentorsList %}
                                        <option value="{{ u }}" {%if u==formDict['Mentor1']%} selected {%endif%}>{{ u }}</option>
                                    {% endfor %}
                                </select>
                            <p>
                                2 <select name="mentor1">
                                    {% for u in mentorsList %}
                                        <option value="{{ u }}" {%if u==formDict['Mentor2']%} selected {%endif%}>{{ u }}</option>
                                    {% endfor %}
                                    </select>
                            <p>
                                3 <select name="mentor2">
                                    {% for u in mentorsList %}
                                        <option value="{{ u }}" {%if u==formDict['Mentor3']%} selected {%endif%}>{{ u }}</option>
                                    {% endfor %}
                                </select>
                            <p>
                                4 <select name="mentor3">
                                    {% for u in mentorsList %}
                                        <option value="{{ u }}" {%if u==formDict['Mentor4']%} selected {%endif%}>{{ u }}</option>
                                    {% endfor %}
                                </select>
                            <p>
                                5 <select name="mentor4">
                                    {% for u in mentorsList %}
                                        <option value="{{ u }}" {%if u==formDict['Mentor5']%} selected {%endif%}>{{ u }}</option>
                                    {% endfor %}
                                </select>
                        </font>
                    </p>
                    <p></p>
                </center>
            </div>

            <center>
                <table width="61%" cellspacing="0" cellpadding="2" border="0">
                    <tbody>
                        <tr>
                            <td align="center" bgcolor="#004488" width="50%"><div
                                    align="center">
                                    <p>
                                        <font size="4" face="Arial" color="#ffffff">Science
                                            Courses</font>
                                    </p>
                                </div></td>
                        </tr>
                    </tbody>
                </table>
            </center>
            <p>
                <font size="3" face="Arial, Helvetica, sans-serif">Enter the
                    titles, credit values, and grades you recieved in all science
                    courses you have taken. Include courses taken in biology,
                    neuroscience, mathematics, computer science, engineering, and
                    physics, but LIST ONLY COURSES MEANT SPECIFICALLY FOR SCIENCE
                    MAJORS.</font>
            <p>
            <center>
                <table cellpadding=2>
                    <tr>
                        <td>Title</td>
                        <td>Credits</td>
                        <td>Grade</td>
                    </tr>
                    {% for i in range(26) %}
                        <tr>
                            <td><input type="text" name={{'stitle'+i|string() }} value="{{formDict['stitle'+i|string()]}}"></td>
                            <td><input type="text" size=3 name={{'scredits'+i|string() }} value="{{formDict['scredits'+i|string()]}}"></td>
                            <td><select name={{'sgrade'+i|string() }}>
                                    <option value="-1" {%if formDict['sgrade'+i|string()] == '-1'%} selected {% endif %}></option>
                                    <option value="0" {%if formDict['sgrade'+i|string()] == '0'%} selected {% endif %}>A+</option>
                                    <option value="1" {%if formDict['sgrade'+i|string()] == '1'%} selected {% endif %}>A</option>
                                    <option value="2" {%if formDict['sgrade'+i|string()] == '2'%} selected {% endif %}>A-</option>
                                    <option value="3" {%if formDict['sgrade'+i|string()] == '3'%} selected {% endif %}>B+</option>
                                    <option value="4" {%if formDict['sgrade'+i|string()] == '4'%} selected {% endif %}>B</option>
                                    <option value="5" {%if formDict['sgrade'+i|string()] == '5'%} selected {% endif %}>B-</option>
                                    <option value="6" {%if formDict['sgrade'+i|string()] == '6'%} selected {% endif %}>C+</option>
                                    <option value="7" {%if formDict['sgrade'+i|string()] == '7'%} selected {% endif %}>C</option>
                                    <option value="8" {%if formDict['sgrade'+i|string()] == '8'%} selected {% endif %}>C-</option>
                                    <option value="9" {%if formDict['sgrade'+i|string()] == '9'%} selected {% endif %}>D</option>
                                    <option value="10" {%if formDict['sgrade'+i|string()] == '10'%} selected {% endif %}>P</option>
                                    <option value="11" {%if formDict['sgrade'+i|string()] == '11'%} selected {% endif %}>F</option>
                            </select></td>
                        </tr>
                    {% endfor %}
                </table>
            </center>
            <br> <br>

            <center>
                <table width="61%" cellspacing="0" cellpadding="2" border="0">
                    <tbody>
                        <tr>
                            <td align="center" bgcolor="#004488" width="50%"><div
                                    align="center">
                                    <p>
                                        <font size="4" face="Arial" color="#ffffff">Transcript</font>
                                    </p>
                                </div></td>
                        </tr>
                    </tbody>
                </table>
            </center>
            </div>
            <p>
                <font face="Arial Unicode MS">
                    <center>
                        Please upload your transcript in pdf format:
                        <table>
                            <tr>
                                <td>
                                    
                                    <p>
                                        <input type="file" id="fileupload" name="file">
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </center>
                </font>
            </p>
            </center>
            </div>
            <div align="center">
            <center>
                <p> 
                    Name: <input size="28" name="REFERENCE_1" value="{{ReferencesDict['REFERENCE_1']}}"> </font> 
                           Email: <input size="20" name="ref1email" value="{{ReferencesDict['ref1email']}}">
                </p>
            </center>
            </div>
            <div align="center">
            <center>
                <p>
                    Name: <input size="28" name="REFERENCE_2" value="{{ReferencesDict['REFERENCE_1']}}"> Email:
                    <input size="20" name="ref2email" value="{{ReferencesDict['ref2email']}}"><br> </font>
                </p>
            </center>
            </div>
            <div align="center">
            <center>
                <p>
                    I waive my right to review these letters of recommendation : <input
                        type=radio name="REFERENCE_WAIVER" value="Yes"  {% if ReferencesDict['ReviewWaiver']=='Yes'%} checked {%endif%}> Yes <input
                        type=radio name="REFERENCE_WAIVER" value="No"  {% if ReferencesDict['ReviewWaiver']=='No'%} checked {%endif%}> No
                </p>
            </center>
        </div>
        <div align="center">
            <center>
                <p>
                    <font face="Arial"> <br> 

                    <input value="Logout" name="submitButton"
                        type="submit"> 
                    <input value="Back" name="submitButton"
                        type="submit">
                    <input value="Save" name="submitButton"
                        type="submit">  
                    </font>

                </p>
            </center>
        </div>
    </form>
</body>
</html>
