<html>
<head>
<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type">
<title>AMGEN Online Application</title>
</head>

<body text="#000000" bgcolor="#ffffff" link="#0088FF" vlink="#0088FF">

	<form action="/addUsername" method="POST">
		<div align="center">
			<center>
				<table width="75%" cellspacing="0" cellpadding="2" border="0">
					<tbody>
						<tr>
							<td bgcolor="#004488" width="100%" align="center"><font
								size="3" face="Arial" color="#ffffff"><b>Columbia
										University<br> Department of Biological Sciences
								</b></font><font size="4" face="Arial" color="#ffffff"> <br> <b>Amgen
										Scholars Summer Research Program 2016 </b></font><b><font
									face="Arial" size="4" color="#ffffff"></font></b></td>
						</tr>
					</tbody>
				</table>
				</br>
			</center>
		</div>
		<div align="center">
			<center>
				<table width="75%" cellspacing="0" cellpadding="2" border="0">
					<tbody>
						<tr>
							<td bgcolor="#004488" width="100%" align="center"><font
								face="Arial Unicode MS" size="3" color="#ffffff"><b>Signup
								</br>Enter your university email address to create an account.
								</b></font></td>
						</tr>
					</tbody>
				</table>
			</center>
		</div>
		
			
				<p style="margin-left: 30%">
					Username: <input size="28" name="username" value="" onblur="validateEmail(); return false;">  
				</p>
			
		
		
			
				<p style="margin-left: 30%">
					Password: <input size="28" id="passwrd" name="passwrd" type="password" value=""> 
				</p>
			
		
		
				<p style="margin-left: 25%">
					Confirm Password: <input size="28" id="repasswrd" name="repasswrd" type="password" value="" onkeyup="checkSamePassword(); return false;"> 
					 
				</p>
			
			<p><center><span id="confirmMessage" class="confirmMessage"></span></center></p>
		
		
										
											<div align="center">
												<center>
													<p>
														<font face="Arial"> <br> <input value="Submit"	type="submit"> 
														</font>
													</p>
												</center>
											</div>
	</form>
</body>
<script>
	function checkSamePassword(){
	    var pass1 = document.getElementById('passwrd');
	    var pass2 = document.getElementById('repasswrd');	   
	    var message = document.getElementById('confirmMessage');
	    var goodColor = "#66cc66";
	    var badColor = "#ff6666";
	    if(pass1.value == pass2.value){
	    
	        pass2.style.backgroundColor = goodColor;
	        //message.style.color = goodColor;
	        message.innerHTML = "Passwords Match!"
	    }else{
	        pass2.style.backgroundColor = badColor;
	        //message.style.color = badColor;
	        message.innerHTML = "Passwords Do Not Match!"
	    }
	}
	function validateEmail() {
		var email = document.getElementById('username');
		var message = document.getElementById('confirmMessage');
    	var re = /[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[eE][dD][uU]/;
    	if(!re.test(email)){
    		message.innerHTML = "Please enter a .edu email for username"
    	}
    }

</script>
</html>
